<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>租车系统-车辆选择</title>
    <style>
        #round{
            width:400px;                              //通过给divwidth和heigh值，在通过margin属性来定位
        height:200px;
            margin:0 auto;
        }
        table{                                         //通过给divwidth和heigh值，在通过margin属性来定位
        width:3000px;
            height:250px;
            margin:0 auto;
        }
    </style>
</head>
<body>
<h2>您选择租赁的汽车是：</h2>
<table border="1" bgcolor="#00CACA" cellpadding="2">

    <tr align="center" >
        <th width="100px">车辆ID</th>
        <th width="100px">车牌号码</th>
        <th width="100px">车型</th>
        <th width="100px">车辆品牌</th>
        <th width="100px">车辆颜色</th>
        <th width="100px">汽车价值/万元</th>
        <th width="100px">租赁价格</th>
        <th width="100px">押金</th>
        <th width="100px">车辆状况</th>
        <th width="200px">车辆图片</th>
        <th width="100px">描述</th>
    </tr>

    <tr align="center" th:each="car,carStat : ${cars}" >
        <td th:text="${car.carid}"></td>
        <td th:text="${car.number}"></td>
        <td th:text="${car.type}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.rentprice}"></td>
        <td th:text="${car.deposit}"></td>
        <td th:text="${car.vehiclequality}"></td>
        <td>
            <img th:src="|../images/${car.img}|" style="width:200px;height:160px" alt="车辆图片"/>
        </td>
        <td th:text="${car.description}"></td>
    </tr>
</table>
<br/>
<form name="formBox" method="post" action="">
    请输入租车时长：<input type="text" name="day" size="2" maxlength="3" />天<br />
    <br/>
    <div align="center" style="position:relative;left:460px">
        <button>提交订单</button>
    </div>
</form>
</body>
</html>