<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CarMapper">
    <select id="viewCar" resultType="car">
		SELECT * FROM cars
	</select>

	<select id="selectCar" resultType="car" parameterType="string">
		SELECT * FROM cars WHERE carid=#{value}
	</select>

	<select id="manageviewCar" resultType="car">
		SELECT * FROM cars
	</select>

	<delete id="deleteCar" parameterType="string">
		DELETE FROM cars WHERE carid=#{value}
	</delete>

	<select id="modifyCar" resultType="car" parameterType="string">
		SELECT * FROM cars WHERE carid=#{value}
	</select>

	<update id="updateCar">
        UPDATE cars
        SET carid=#{car.carid},number=#{car.number},type=#{car.type},brand=#{car.brand},color=#{car.color},price=#{car.price},rentprice=#{car.rentprice},deposit=#{car.deposit},vehiclequality=#{car.vehiclequality},isrenting=#{car.isrenting},img=#{car.img},description=#{car.description}
        WHERE carid=#{car.carid}
    </update>

	<insert id="addCar" parameterType="car">
        INSERT INTO cars VALUES(#{car.carid},#{car.number},#{car.type},#{car.brand},#{car.color},#{car.price},#{car.rentprice},#{car.deposit},#{car.vehiclequality},#{car.isrenting},#{car.img},#{car.description})
    </insert>

	<select id="selectrentpricebyid" resultType="string" parameterType="string">
		SELECT rentprice FROM cars WHERE carid=#{value}
	</select>

	<select id="selectdepositbyid" resultType="string" parameterType="string">
		SELECT deposit FROM cars WHERE carid=#{value}
	</select>

	<insert id="addorder" parameterType="com.example.demo.bean.Ordertable" >
		insert into ordertable(username,userid,carid,number,type,brand,color,rentprice,deposit,total,begintime,endtime,img)
		values (#{username},#{userid},#{carid},#{number},#{type},#{brand},#{color},#{rentprice},#{deposit},#{total},#{begintime},#{endtime},#{img})
	</insert>

</mapper>